<h1>Your Order</h1>
  <table>
    <tr>
      <th>Customer </th>
	  <td><%= @order.user.name if @order.user %></td>
    </tr>
    <tr>
      <th>Status: </th>
      <td><%= @order.status %></td>
    </tr>
    <tr>
      <th>Items: </th>
      <td><%= @order.order_items.count %></td>
    </tr>
	<tr>
	   <th>Order Total: </th>
	   <td><%= print_price(@order.total) %></td>
	</tr>
	<tr>
		<th> Empty car </th>
		<td><%= link_to "Empty Cart", @order, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% if current_user && !current_user.addresses.empty? %>
    
	<tr>
	    <th>Shipping To:</th>
	    <td>
		  <%= form_for @order, :url => purchase_order_path(@order), :method => :put do |f| %>
			<%= f.select :address_id, current_user.addresses.collect{|a| [a.to_s, a.id]} %>
	      	<%= f.submit "Submit Order" %>
		  <% end %>
	    </td>
	</tr>
	<% end %>
		<tr>
			<th><% if current_user %>
			  <%= link_to "New Address", new_address_path %>
			<% end %>
	    </th>
    <tr>
      <th>Items </th>
      <th>Title </th>
      <th>Quantity </th>
      <th>Unit Price </th>
      <th>Subtotal </th>
	  <th>Images </th>
	  <th>Remove </th>
    </tr>
	<tr>
	  <% @order.order_items.each do |item| %>
	  <td></td>
	  <td><%= item.product.title %></td>
	  <td><%= link_to item.quantity, edit_order_item_path(item) %></td>
  	  <td><%= print_price(item.product.price) %></td>
	  <td><%= print_price(item.subtotal) %></td>
	  <td><div class="span2"><%= image_tag "/images/products/#{item.product.img_url}" %></div></td>
	  <td><%= link_to "Remove", @order_items, :confirm => 'Are you sure?', :method => :delete %></td>
      
	</tr>
	<% end %>
  </table>

<p>
  <%= link_to "Edit", edit_order_path(@order) %> |
  <%= link_to "Destroy", @order, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", orders_path %>
</p>
